* {
  font-family: Arial, Helvetica, sans-serif;
}

.titleCard {
  margin-top: 2rem;
  margin-bottom: 1rem;
  width: 100%;
  align-items: center;
  text-align:center
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.card-box {
  align-content: center;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin: 20px;
  width: 200px;
  height: 200px;
  position: relative;
}

.card-box:hover .card {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
  transform: rotateY(180deg);
}

.card {
  transform-style: preserve-3d;
  transition: all 0.5s linear;
}

.cara {
  position: absolute;
  backface-visibility: hidden;
}

.cara.info {
  transform: rotateY(180deg);
}

.containerImg {
  padding: 2px 16px;
  width: 200px;
}

img {
  border-radius: 5px 5px 0 0;
  width: 200px;
}

ol {
  margin-block-start: 0;
  padding-inline-start: 0;
}

pre {
  font-size: 20px;
  border: 2px solid grey;
  width: 450px;
  border-left: 12px solid green;
  border-radius: 5px;
  padding: 14px;
}